@media (min-width: 300px) and (max-width: 350px) {
    .start-up-form{
        padding: 25px !important;
    }
  }
        @media (max-width: 767px) {
			.modal-dialog{
				max-width: 100%;
			}
            .sign-up-bg {
                background: url('../images/signup-responsive.jpg') !important;
                height: 200px !important;
            }
            app-login .parent {
                display: block !important;
            }
            .child {
                display: block !important;
            }
            .form-align {
                max-width: 100% !important;
            }
            .mobile-header {
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
            .img-pos2 {
                display: none !important;
            }
            .customers label {
                width: 100% !important;
            }
            .radio-button-tabs label {
                margin: 10px !important;
                width: 100% !important;
            }
            .mobile-logo {
                display: block !important;
            }
            .company-logo {
                display: none !important;
            }
            .navbar-brand {
                background: #2933af !important;
                border: 1px solid #2933af !important;
            }
            .border-dashed {
                margin-top: 10px;
                width: 100% !important;
                margin-bottom: 0px !important;
            }
            .board-bg {
                height: 100% !important;
            }
            .card {
                height: 100% !important;
            }
            .width-500 {
                width: 100% !important;
            }
            .td-text-center {
                text-align: center;
            }
            .back-btn {
                right: 82px !important;
                margin-top: 5px !important;
            }
            .mobile-title {
                display: block !important;
                color: #fff;
                margin-left: auto;
                margin-top: auto;
                margin-bottom: auto;
                font-size: 20px;
                font-weight: 500;
                text-transform: uppercase;
            }
            .header-title {
                display: none !important;
            }
            .img-detail img {
                margin-bottom: 20px;
            }
            .logout-content {
                border-radius: 0px 0px 15px 15px !important;
            }
            .logout-icon-mobile {
                padding: 15px;
            }
            app-login .mat-horizontal-content-container {
                padding: 0px !important;
            }
            app-login .otp-form {
                left: 0px !important;
            }
            .btn-width{
                width: 120px !important;
            }
            app-login .signup-form .mat-form-field-infix {
                min-width: 100% !important;
            }
          .clearOTP{
            text-align: center !important;
            margin-top: auto !important;
            margin-bottom: auto !important;
          }
          .mb-none{
            display: none !important;
        }
        
        .td-none{
            display: block !important;
        }
        .login{
            background-color: white !important;
        }
        }